<%= form_for @link do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@link.errors.count, "error") %> prohibited
        this link from being shortened:
      </h2>
      <ul>
        <% @link.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <label for="exampleInputEmail1">Original Url</label>
    <%= f.text_field :outgoing_url, :class => "form-control", :placeholder => "Enter the original Url"  %>
    <small class="text-muted">Please enter the url you want to shorten.</small>
  </p>
  <p>
    <%= f.submit 'Generate Url',  :class => "btn btn-primary" %>
  </p>
<% end %>
